.content {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.left {
    grid-column: 1/2;
    grid-row: 1/2;
}

.right {
    grid-column: 2/3;
    grid-row: 1/2;
}

.nav {
    grid-row: span 1;
    display: grid;
    grid-template-rows: span 2;
    background-color: #fee2e2;
}

.logo {
    display: flex;
    ;
    align-items: center;
    padding: 8px;
    gap: 5px;
}

.logo p {
    align-items: center;
}

.logo img {
    height: 3em;
    width: 3em;
}

.simple-icon {
    height: 1em;
    width: 1em;
}

.top,
.bot {
    padding: 0 16px 0 16px;
}

.nav-list {
    grid-row: 2;
}

.nav-list li {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    list-style-type: none;
}

.nav-list li img {
    padding-right: 8px;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}